
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
body{
    width: 100%;
    background-image:url(../images/background.jpg);
    min-height:100vh;
    font-family:"Roboto",sans-serif;
    overflow-x: hidden;
    
    
}
header{
    position:fixed;
    width:100%;
    background: #615f61;
    opacity:0.8;
    min-height:70px;
    z-index: 2;
}


 header ul{
    position:absolute;
    list-style:none;
    right:0;
    
    
 }
 ul li {
    display:inline-block;
    position:relative;
    margin-inline: 1rem; 
    margin-top: 1.5rem;
    
    }
    ul li a:hover{
    color:#501179;



    }
    a{
        color:#ffff;
       font-size:larger;
        text-decoration: none;    
    }
    a:visited{
        text-decoration: none;
        color:#FFF;
    }
    
    a:hover ,a:focus{                                                                                
        
        color:#fff;
        
        
        
    }
    a:active{
        color:#220351;
    }
    .menu{
        font-size: 1.5rem;
    }
    .my-btn:hover{
        background:#501179
    }
 
main{
    width:100%;
}
.intro-container{
    position:relative;
    min-height:400px;
    
}


.name{
    display:inline-block;
    min-height:max-content;
    color:#f2f2f4;
    margin-top:11rem;
    margin-left:6rem;
    animation: 3s infinite alternate slide-in;
       
} 
.name p{
    font-size: 2rem;
    line-height: 1.5;
    
    
    
}
.animate{
    animation-name: slide-in;
    animation-iteration-count:1;
    animation-duration: 3s;
    animation-delay: 0.5s;
    
    
}



@keyframes slide-in {
    0% {
     transform: translateX(-1000px);
    }
  
    50%{
      transform:translateX(100px) ;
      
    }
    100%{
        transform: translateX(0px);
    }
  }

button{
    background:#d44177;
    color:#FFF;
    margin-top:2rem;
    border: none;
    border-radius: 2rem;
    padding:0.5rem;
   
}

 a{
    font-size:1rem;
    text-decoration: none;
}
 .rectangle1{
    width:15rem;
    height:20rem;
    border-radius: 30px;
    border-right: none;
    background-color: #d44177;
    opacity:0.7;
    float:right;
    position:absolute;
    top:5.5rem;
    right:-1rem;
    z-index:0;
    
    
}
  .rectangle2{
    width:20rem;
    height:15rem;
    position: absolute;
    border-right:none;
    border-radius: 30px;
    right:-1em;
    top:8rem;
     background-image: linear-gradient(to bottom,#220351,#d44177);  
    /* background-color: #d44177; */
    opacity:0.5;
    z-index:1;
    
    

}  
     .circle{
    display:block;
    position:absolute;
    width:10rem;
    height:10rem;
    background-color:#501179;
    top:20rem;
    left:-5rem;
    border-radius:5rem ;
}
  .about-container{
   display:block;
    height:300px;
    position: relative;
    z-index: 0;
    
}
    
 .about-container::after{
    width:65%;
    height:3px;
    position:absolute;
    top:7rem;
    left:6rem;
    content:" ";
    background-color: #220351;
} 
 .about-ul{
    list-style-type: none;
   position:relative;
    top:2rem;
    left:5rem;
    
}
.about-ul li{
    display:inline-block;
    position:relative;
    width:20%;
    height:80px;
    top:2rem;
    padding:10px 10px;
    background:#c7c6c6;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.849);
    border-radius: 10px;
      
}
.about-ul li::before{
    width:2px;
    height:1rem;
    position:absolute;
    top:-1rem;
    left:8.6rem; 
    content:" ";
    background-color: #220351;
}
.progress-circle{
    content:"";
    position:absolute;
    width:1.2rem;
    height:1.2rem;
    border:2px double #220351;
    border-radius: 50%;
    background:#220351;
    top:-2rem;
    left:48%;
    outline:2px solid #c7c6c6;
    outline-offset: 0.1rem;
}

.date{
    position:absolute;
    left:2.5rem;
    padding-top:5px;
    
   
   
}
.calender-icon{
    position:absolute;
    
}  
 

.section-headers{
    display:block;
    position:relative;
    text-align: center;
    margin-top:1.5rem;
    color: #f9f6fd;
    font-size: 2.5rem;
} .project-container{
    display:grid;
    grid-template-columns: repeat(3,30%);
    grid-gap:1rem;
    justify-content: center;
    align-items: center;
    margin-top:1rem;
    min-height:400px;

} 

.grid-item{
    background:#c7c6c6;
    border-bottom:2px solid rgb(66, 64, 64) ;
    border-radius:0.5rem;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height:350px;
    position:relative;
 } 


.grid-item1{
    grid-column:span 3;
    align-self: start;
    justify-self: center;  
}

 .project-img{
    width:100%;
    height:60%;
    position:absolute;
    border-radius: 0.5em 0.5rem 0 0 ;
    top:0;
    left:0;
}

.website-name{
    position:absolute;
    bottom:6rem;
    left:1.5rem;
    
}

 .website-descripition{
    position:absolute;
    bottom:3.5rem;
    left:1.5rem;
    font-family:inherit;
    font-size: 12px;
    text-align: justify;
    width:50ch;
    line-clamp:3;
    color:#3f3e3f;
}
 a.seemore {
    color:#220351;
    font-size:.8rem;
    font-family:inherit;
    position:absolute;
    left:1.5rem;
    bottom:1rem;
}  
a.seemore:hover,a.seemore:focus{
    color:#d44177;
}
 

.socialmediaicon{
    margin-top:1rem;
    height:2rem;
    width:2rem;
    margin-inline:.5rem;
}
footer{
    position:relative;
    background-color:#f2f2f4;
}
 .footer-container{
    width: 100%;
    height:20%;
    text-align: center;
    display: inline-block;
    position:absolute;
    background-color:#f2f2f4;
    
    
 }
 